fastapi>=0.100.0
uvicorn[standard]>=0.20.0
firebase-admin>=6.2.0
google-generativeai>=0.3.0
python-dateutil
slowapi
python-multipart
pydantic-settings
python-dotenv
motor
pymongo
passlib[bcrypt]
python-jose[cryptography]
twilio
mangum
